body {
  background-color: #9775AA;
}

.container {
  background-color: #FFF6CD;
  height: 40%;
  width: 40%;
  margin: 150px auto 0 auto;
  padding: 15px;
  border: 3px double lightgrey;
  border-radius: 15px;
}

.btn-danger {
  clear: both;
  float: left;
}

.btn {
  margin: 10px;
}


.form-label {
  margin-top: 20px;
  clear: left;
  float: left;
}

.form-control {
  clear: left;
  float: left;
  width: 65%;
}

.button-go {
  padding: 5px 10px;
  margin-left: 15px;
  float: left;
  border-radius: 15px;
  background-color: #764A8E;
	border: 1px solid #666;
	color:#FFFEF6;
	text-decoration:none;
}

.button-reset {
  padding: 5px 10px;
  margin-left: 15px;
  float: left;
  border-radius: 15px;
  background-color: red;
  border: 1px solid #666;
  color:#FFFEF6;
  text-decoration:none;
}
